@{
    ViewData["Title"] = "Xem Thông Tin Chuyến Bay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem Thông Tin Chuyến Bay</h2>
<form asp-action="Cau2_XemThongTinChuyenBay" asp-controller="ChuyenBay" method="post">
    <div>
        <label >Mã Chuyến Bay</label>
        <input name="mach" value="CB0001"/>
    </div>
    <div>
        <input type="submit" value="Liệt Kê"/>
    </div>
</form>